body {
  font-family: 'Lobster', cursive;
}
section h1 {
  background-color: rgb(165, 194, 248);
}

h1 {
  background-color: rgb(219, 13, 13);
}

header {
  text-align: center;
}

header h1:hover{
  color: turquoise;
  font-size: 75
  px;
}